.gallery{
    padding: 20px;
    display: flex;
    // flex-direction: column;
    align-items: center;
    overflow-y: scroll;

    .link-warpper{
        display: flex;
        justify-content: flex-start;
        width: 100%;

        padding-bottom: 20px;
        padding-left: 2vw;
        position: fixed;
        top: 20px;
        left: 0;
        z-index: 1000;
    }

    .collage {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        .img-wrapper {
            width: 50vw;
            height: 95dvh;
            max-width: 400px;
            min-width: 200px;
            box-sizing: border-box;
            // flex: 1 1 calc(30vw - 20px); 
            flex: 1 ; 
            margin-bottom: 16px;

            img{
                height: 100%;
                width: auto;
                object-fit: cover;
            }

            // Adjust layout dynamically
            @media (max-width: 1200px) {
                width: 40vw;
                flex: 1 1 calc(40vw - 20px);
            }

            @media (max-width: 800px) {
                width: 80vw;
                flex: 1 1 calc(80vw - 20px);
            }
        }
    }
}