.app-label{
    color: $bandida-golden-7;
    padding: 5px 15px;
    margin: auto;
    font-family:"League Gothic", sans-serif;
    margin-top: 10px;
    font-size: xx-large;
    background-color: transparent;
    width: fit-content;
}