.artist{
    background-color: $bandidas-black-1;
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    // max-height: 100dvh;
    
    color: white;
    position: relative;
    gap: 40px;
    font-size: 16px;
    // height: 137dvh;;
    // max-height: none;

    .panel-1, .panel-2{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        @media (max-width:665px) {
            width: 100%;
            height: fit-content;
        }
    }

    .panel-1{
        justify-content: center;
        flex-direction: column-reverse;
        align-items: flex-end;

        .omistaja{
            padding-bottom: 40px;
            padding-left: 20px;
            font-size: x-large;
            font-weight: 500;
        }

        .profile-pic{
            width: 100%;
            max-width: 400px;

            .pic-item{
                object-fit: cover;
            }

            @media (min-width:400px) {
                min-width: 150px;
                flex-direction: row;
            }
            @media (max-width:665px) {
                width: 80px;
            }
        }


        @media (max-width:665px) {
            justify-content: flex-start;
            flex-direction: row;
            padding-top: 100px;

            .omistaja{
                padding-bottom: 40px;
                padding-left: 20px;
                font-weight: 500;
            }
        }

    }
    .panel-2{
        justify-content: flex-start;
        max-width: 50%;

        .text-area p{
            max-width: 400px;

            @media (max-width:665px) {
                width: 100%;
            }
        }

        @media (max-width:665px) {
            max-width: none;
        }

    }

    @media (max-width:665px) {
        justify-content: center;
        flex-direction: column;
        gap: 0;
    }
}