.some{
    width: 80vw;
    display: flex;
    align-items: baseline;
    justify-content: space-around;

    &-container{
        width: 35px;
        height: 35px;
        border-radius: 3px;
    }

    &-icon{
        font-size: 30px;
    }
}
