.navegator{

    list-style: none;
    display: flex;
    width: 100%;

    justify-content: center;
    gap: 15px;
    position: fixed;
    top: 0;

    font-size: xx-large;
    font-weight: 600;
    z-index: 10;
    padding: 50px;

    & a {
        @include link-styles;
    }
    
}
