.navegator{

    list-style: none;
    display: flex;
    width: 100%;

    justify-content: center;
    gap: 15px;
    position: fixed;
    top: 0;
    font-family:"League Gothic", sans-serif;

    font-size: xx-large;
    font-weight: 600;
    z-index: 10;
    padding: 50px;

    & a {
        color: rgb(241, 241, 117);
        text-decoration: none;
    }

    
    & a:hover{
        text-shadow: 0 0 10px white;
        cursor: pointer;
    }

    @media (max-width: 400px) {
        justify-content: center;
        font-size: x-large;
    }
    
}

.nav-link{
    color: rgb(241, 241, 117);
    text-decoration: none;
}
.nav-link:hover{
    text-shadow: 0 0 10px white;
    cursor: pointer;
}