.landinpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 7, 7);
    background-color: $bandidas-black-1;

    color: white;
    // text-transform: capitalize;

    &-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 100dvh;
    }        
}

/*Conctact-bar (top)*/
.contact-bar{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    color: $bandida-golden-6;
    padding: 20px;
    background-color: rgb(7, 7, 7);

    &__corner{
        width: 215px;

        .opening-hours-left{
            display: none;
        }

        .hamburger{
            display: none;
        }

        .address-right{
            display: none;
        }

        @media (max-width: 800px){
            .opening-hours-right{
                display: none;
            }
            .opening-hours-left{
                display: block;
            }
        }

    }

    #right{
        display: flex;
        justify-content: flex-end;
    }

    @media (max-width: 665px){

        flex-direction: column;

        #left{
            display: none;
        }

        #right, 
        .address-right,
        .opening-hours-right, .hamburger{
            display: block;
        }
    }
    
}

.some{
    display: flex;
    gap: 15px;

    &-item{
        height: 30px;
        aspect-ratio: 1 1;
    }

    &-icon{
        color: $bandida-golden-7;
        font-size: 30px;
    }

    @include no-highlight;
}

/*LOGO*/

.logo-wrapper{
    height: 40dvh;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    // overflow: hidden;
    flex-direction: column;
    position: relative;
    padding: 20px 20px 50px ;
    background-color: rgb(7, 7, 7);

    @include no-highlight;
}

.lower-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    .dot{
        line-height: 0;
    }
}



