.about-me{
    background-color: $bandidas-black-1;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5%;
    // background-color: rgb(90, 90, 26);

    .profile{
        display: flex;
        gap: 20px;
        height: 90vh;
        max-height: 40%;

        @media (max-width:665px) {
            &-pic{
                width: 50%;
            }
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
            &-text{
                line-height: 1;
            }
        }
    }

    @media (max-width:665px) {
        justify-content: flex-start;
    }
}